body {
    font-family: 'Baloo Chettan', 'Roboto', Georgia, 'Times New Roman', Times, serif
}

.header {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
}

.cover-image-bg {
    background-image: url("./../assets/images/cover-image.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.cover-heading-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 5%;
}

.cover-heading {
    font-size: 1.2rem;
    color: #2ca8e0;
    font-weight: 100;
    font-family: 'Baloo Chettan';
    text-align: center;
    text-shadow: black 15px 15px 15px;
}

.sub-header {
    height: 10rem;
    width: 100%;
}

.vote-me {
    padding: 2rem;
}

.vote-me-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: #2ca8e0 1px 1px 1px;
    color: white;
    width: 100%;
}

.candidate-image {
    height: 10rem;
    width: 100%;
}

.image-holder-avatar {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.avatar-image {
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    height: 10rem;
    width: 10rem;
}

.candidate-intro {
    border-top: 3px solid white; 
    border-bottom: 3px solid white; 
}

.intro-text {
    padding: 10px;
    font-family: sans-serif;
    font-size: large;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.gallery-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2ca8e0;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gallery-image-holder {
    padding: 10px;
}

.gallery-image {
    object-fit: cover;
    height: 20rem;
    width: 20rem;
}

.gallery-image-subheading {
    font-size: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}